.header{
        position: sticky;
        top: 0;
        background-color: #fafafa;
        border: 1px solid #ccc;
        overflow: hidden;

    &-right{
        float: right;
        padding-top: 16px;
    }
    & .link {
        text-decoration: none;
        color: #333;
        display: inline-block;
        padding: 16px;
    }
    & .logo {
        width: 70px;
        height: auto;
        float: left;
        padding: 16px;

        &>img{
            width: inherit;
            height: inherit;
        }

    }
}