.footer{
    background-color: rgba(51,51,51,.95);
    min-height: 60px;
    padding: 16px;
    overflow: hidden;
    color: #fff;

    &-logo{
        width: 80px;
        float: left;

        &>img{
            width: 100%;
        }
    }
    &-copy{
        float: left;
        clear: left;
    }
}